<elder-single-pane-wrapper>
  <div class="history-view">
    <div class="history-header">
      <h1>History</h1>
      <button mat-flat-button color="primary" type="button" [disabled]="busy()" (click)="refresh()">
        Refresh
      </button>
    </div>
    @if (error(); as message) {
      <p class="status-text">{{ message }}</p>
    }
    @if (snapshots().length === 0 && !busy() && !error()) {
      <p class="status-text">No snapshots available yet.</p>
    } @else if (snapshots().length > 0) {
      <p class="status-text">{{ snapshots().length }} snapshots</p>
      <mat-tab-group
        class="chart-tabs"
        animationDuration="0ms"
        preserveContent
        (selectedTabChange)="onTabChange($event)"
      >
        <mat-tab label="Island population">
          <ng-template matTabContent>
            <div class="chart-host" [appEcharts]="chartOption()" [dark]="darkTheme()"></div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Ship gold">
          <ng-template matTabContent>
            <div class="chart-host" [appEcharts]="shipGoldChartOption()" [dark]="darkTheme()"></div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Average prices">
          <ng-template matTabContent>
            <div
              class="chart-host"
              [appEcharts]="averagePriceChartOption()"
              [dark]="darkTheme()"
            ></div>
          </ng-template>
        </mat-tab>
        <mat-tab label="World gold">
          <ng-template matTabContent>
            <div
              class="chart-host"
              [appEcharts]="worldGoldChartOption()"
              [dark]="darkTheme()"
            ></div>
          </ng-template>
        </mat-tab>
        <mat-tab label="World goods">
          <ng-template matTabContent>
            <div
              class="chart-host"
              [appEcharts]="worldGoodsChartOption()"
              [dark]="darkTheme()"
            ></div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Price spread">
          <ng-template matTabContent>
            <div
              class="chart-host"
              [appEcharts]="priceSpreadChartOption()"
              [dark]="darkTheme()"
            ></div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    }
  </div>
</elder-single-pane-wrapper>
