export MONGODB_URI='mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority&appName=<app>'

# Kafka
export RTNT_KAFKA_SASL_USERNAME=myusername
export RTNT_KAFKA_SASL_PASSWORD=mypassword
export RTNT_KAFKA_BOOTSTRAP_SERVERS=mybootstrapserver
export RTNT_KAFKA_SSL_TRUSTSTORE_PASSWORD=mytruststorepassword
export RTNT_KAFKA_BOOTSTRAP_SERVERS=mybootstrapserver
