<elder-nav-list class="flex">
  <elder-nav-link icon="public" title="Island Map" routerLink="island-map"></elder-nav-link>
  <elder-nav-link
    icon="terrain"
    title="Island Browser"
    routerLink="island-browser"
  ></elder-nav-link>
  <elder-nav-link
    icon="inventory"
    title="Island Inventories"
    routerLink="island-inventory-browser"
  ></elder-nav-link>
  <elder-nav-link
    icon="paid"
    title="Island Prices"
    routerLink="island-prices-browser"
  ></elder-nav-link>
  <elder-nav-link icon="sailing" title="Ship Browser" routerLink="ship-browser"></elder-nav-link>
  <elder-nav-link icon="storefront" title="Port trade" routerLink="port-trade"></elder-nav-link>
  <elder-nav-link icon="map" title="Journey Browser" routerLink="journey-browser"></elder-nav-link>
  <elder-nav-link icon="person" title="Player" routerLink="player"></elder-nav-link>
  <elder-nav-link icon="bug_report" title="Debug" routerLink="debug"></elder-nav-link>
</elder-nav-list>
